---
import "../styles/global.css";
---

   <footer class="bg-gray-800 text-gray-300 p-4 text-center">
      <p>⚡ GadgetHub.cse23.org — All tools run locally in your browser. No servers. No third-party access.</p>
      <p class="mt-2">Special thanks to all contributors of GadgetHub on GitHub 🙌</p>
    </footer>