---
import "../styles/global.css";
---


<section class="text-center py-10">
  <h1 class="text-4xl font-bold mb-4">Welcome to GadgetHub</h1>
  <p class="text-lg max-w-2xl mx-auto mb-6">
    GadgetHub is a collection of everyday tools that run directly in your
    browser. No servers. No third-party access. Everything happens locally on
    your device.
  </p>



<a href="https://img2pdf.gadgethub.cse23.org" >

  <div class="card bg-gray-100 w-96 shadow-sm">
  <figure>
    <img
      src="./img2pdf.png"
      alt="Shoes" />
  </figure>


<div class="card-body bg-[#6aff56]">
  <h2 class="card-title">
    Image to PDF Converter
    <div class="badge badge-secondary">FREE</div>
  </h2>
  <p>
    Quickly convert your JPG or PNG images into a single PDF.  
    100% safe, secure, and processed directly in your browser —  
    your files never leave your device.
  </p>
  <div class="card-actions justify-end">
    <div class="badge badge-outline">Safe</div>
    <div class="badge badge-outline">Secure</div>
    <div class="badge badge-outline">Local</div>
  </div>
</div>



</div>

</a>

</section>